* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

/*Navbar*/

.navbar {
  padding: 1.5rem;
}

.navbar .heading {
  font-size: 1.2rem;
  font-weight: 600;
  width: 50%;
}

.navbar .nav-items ul {
  list-style-type: none;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  color: #3c3c3c;
}

.navbar .heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .button-container {
  margin-top: 2rem;
}

.navbar .button-container button {
  width: 100%;
  padding: 0.4rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 2rem;
  background: #c1f7d5;
  font-weight: 600;
}

/*hero*/

.hero-section .container {
  padding: 5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.hero-section {
  background-image: url("../assests/annie-spratt-135307-unsplash.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
}

.hero-section .heading {
  font-size: 3rem;
  width: 70%;
  font-family: "flood-std", cursive;
  color: #ffffff;
}

.hero-section .the-issue-container {
  padding: 4.2rem 1rem 2.5rem 1rem;
  position: relative;
  background: #ffffff;
}

.hero-section .the-issue-heading {
  position: absolute;
  top: -10%;
  left: 50%;

  width: 50%;
  text-align: center;
  padding: 0.7rem 0;
  background: #354463;
  color: #edeff1;
  transform: translate(-50%);
  font-size: 1rem;
  word-spacing: 0.3rem;
  font-weight: 100;
}

.hero-section .the-issue-body {
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  color: #354463;
}

.hero-section .read-more {
  margin-top: 1.6rem;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.2rem;
}
.hero-section .read-more a {
  color: #414c64;
}

/*take-action-section*/

.take-action-section .container {
  padding: 4rem 1.5rem;
  background: #c1f7d5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8rem;
  position: relative;
}

.take-action-section .heading {
  color: #354463;
  font-size: 1.2rem;
  font-weight: 700;
}

.take-action-section .body {
  font-size: 0.85rem;
  color: #354463;
  margin-top: 1rem;
  font-weight: 100;
}

.take-action-section .banner {
  position: absolute;
  top: -5%;
  left: 50%;
  width: 50%;
  text-align: center;
  padding: 0.7rem 0;
  background: #354463;
  color: #edeff1;
  transform: translate(-50%);
  font-size: 1rem;
  word-spacing: 0.3rem;
  font-weight: 100;
}

/*what-we-do*/

.what-we-do .container {
  padding: 3.5rem 1.5rem;
  background: #354463;
  text-align: center;
}

.what-we-do .heading {
  background: #ffffff;
  color: #354463;
  padding: 0.5rem 2rem;
  display: inline;
}

.what-we-do .sub-heading {
  margin-top: 2.8rem;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 800;
}

.what-we-do .card-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
}

.what-we-do .card-container .card {
  background: #ffffff;
  padding: 1.5rem;
}

.what-we-do .card-container .card-image {
  height: 170px;
  width: 100%;
  background: yellow;
  margin-top: -3.5rem;
}

.what-we-do .card-container .card-image img {
  width: 100%;
  height: 100%;
}

.what-we-do .card-heading {
  margin-top: 1.5rem;
  color: #354463;
  font-size: 1.2rem;
  font-weight: 600;
}

.what-we-do .content {
  margin-top: 1rem;
  color: #354463;
  font-size: 0.8rem;
}

.what-we-do button {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 1rem;
  background: #c1f7d5;
  color: #354463;
  font-size: 1rem;
  font-weight: 600;
}

/*did-you-know*/

.did-you-know {
  padding: 2rem 1.5rem;
  background: url("../assests/did-you-know-background@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.did-you-know .heading {
  font-size: 3rem;
  width: 70%;
  font-family: "flood-std", cursive;
  color: #ffffff;
}

.did-you-know button {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 1rem;
  background: #c1f7d5;
  color: #354463;
  font-size: 1rem;
  font-weight: 600;
}

.did-you-know .card-container {
  position: relative;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.did-you-know .card {
  background: #ffffff;
  padding: 3rem 1.2rem;
  text-align: center;
}

.did-you-know .card-heading {
  font-size: 1.3rem;
  font-weight: 700;
  color: #354463;
}

.did-you-know .card-content {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #4a5873;
}

.did-you-know .card-footer {
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;
  column-gap: 0.5rem;
}

.did-you-know .card-footer .images {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #c1f7d5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter-img img {
  width: 45%;
  height: auto;
}

.fb-img img {
  width: 20%;
}

.did-you-know .banner {
  position: absolute;
  top: -1.4%;
  left: 50%;
  transform: translate(-50%);
  background: #354463;
  padding: 0.5rem 1.5rem;
  color: #e0e2e7;
  font-size: 0.82rem;
}

/*stories*/

.stories {
  padding: 1.5rem;
  text-align: center;
}

.stories .container {
  position: relative;
}

.stories .heading {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -2.5%;
  display: inline;
  background: #354463;
  padding: 0.5rem 2rem;
  color: #ffffff;
  font-size: 1.1rem;
}

.stories .img-container {
  height: 18rem;
  background: yellow;
}

.stories img {
  width: 100%;
  height: 100%;
}

.stories .details {
  background: #354463;
  padding: 2rem;
  margin-top: 2rem;
  color: #ffffff;
}

.stories .quote {
  font-size: 1.4rem;
  font-weight: 800;
}

.stories .author {
  margin-top: 1.6rem;
  font-size: 0.9rem;
}

.stories button {
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 1.6rem;
  background: #c1f7d5;
  color: #354463;
  font-size: 1.2rem;
  font-weight: 600;
}

/*event*/

.event {
  padding: 1.5rem;
  background: #354463;
  text-align: center;
}

.event .heading {
  font-size: 3rem;
  font-family: "flood-std", cursive;
  color: #ffffff;
}

.event .container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 3rem;
  position: relative;
}

.event .image-container {
  height: 20rem;
  width: 100%;
  background: yellow;
}

.event img {
  height: 100%;
  width: 100%;
}

.event .content {
  margin-top: 2rem;
}

.event .subheading {
  color: #ffffff;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 800;
}

.event .para {
  margin: 0.9rem;
  color: #ffffff;
  font-size: 0.9rem;
}

.event .topic {
  position: absolute;
  top: -2%;
  left: 50%;
  transform: translate(-50%);
  padding: 0.5rem 1.5rem;
  background: #ffffff;
}

.event button {
  margin-top: 0.5rem;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 1.6rem;
  background: #c1f7d5;
  color: #354463;
  font-size: 1.2rem;
  font-weight: 600;
}

.subscribe {
  padding: 3rem 1.5rem;
  background: #c1f7d5;
  text-align: center;
}

.subscribe .heading {
  color: #354463;
  font-size: 1.2rem;
  font-weight: 600;
}

.subscribe .email {
  margin: 1.5rem;
}

.subscribe input {
  width: 100%;
  padding: 1rem 1.4rem;
  border-radius: 2rem;
  border: none;
  font-size: 1.1rem;
}

.subscribe button {
  width: 100%;
  padding: 1rem;
  background: #354463;
  border-radius: 2rem;
  font-size: 1.2rem;
  color: #c1f7d5;
  border: none;
}

/*footer*/

.footer {
  padding: 3rem 1.5rem;
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a b" "d e" "g h";
  gap: 3rem;
}

.footer .heading {
  color: #333333;
  font-size: 1.2rem;
  font-weight: 600;
}

.footer span {
  color: #404f6c;
  font-size: 1.1rem;
  display: block;
  margin-bottom: 0.8rem;
}

.footer p {
  color: #4a5773;
  font-size: 0.85rem;
}

.footer .banner {
  font-size: 3rem;
  font-family: "flood-std", cursive;
  color: black;
  text-align: start;
  grid-area: h;
}

/*Tablet design*/

@media screen and (min-width: 480px) {
  /*navbar*/

  html {
    font-size: 18px; /* 1rem = 14px */
  }

  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .heading {
    width: 60%;
    font-size: 1.2rem;
  }

  .navbar .heading-container {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    align-items: flex-start;
  }

  .navbar .nav-items ul {
    display: flex;
    flex-direction: row;
    column-gap: 1.2rem;
    justify-content: space-between;
  }

  .navbar .button-container {
    margin-top: 0;
  }

  .navbar .button-container button {
    font-size: 1.1rem;
    padding: 0.8rem;
  }

  /*hero */
  .hero-section .the-issue-body {
    text-align: start;
    font-size: 2rem;
  }
  .hero-section .the-issue-container {
    padding: 4.2rem 3rem 2.5rem 3rem;
  }
  .hero-section .read-more {
    text-align: start;
  }
  .hero-section .container {
    padding: 5rem 1.5rem;
  }

  .hero-section .the-issue-heading {
    position: absolute;
    top: -10%;
    left: 50%;

    width: 50%;
    text-align: center;
    padding: 0.7rem 0;
    background: #354463;
    color: #edeff1;
    transform: translate(-50%);
    font-size: 1rem;
    word-spacing: 0.3rem;
    font-weight: 100;
  }

  .hero-section .the-issue-heading {
    position: static;
    transform: translate(0);
    width: 30%;
    margin-top: -5.5rem;
    margin-bottom: 1.6rem;
  }

  /*what-we-do*/

  .what-we-do .container {
    padding: 3.5rem 1.5rem;
    background: #354463;
    text-align: start;
  }

  .what-we-do .card {
    display: grid;
    grid-template-areas:
      "image heading"
      "button content";
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 2rem;
  }
  .what-we-do .card-heading {
    margin-top: 0rem;
  }

  .what-we-do .content {
    margin-top: -2rem;
  }

  .what-we-do .content {
    grid-area: content;
  }

  .what-we-do button {
    margin-top: 0.5rem;
  }

  .what-we-do .button-container {
    display: flex;
    justify-content: flex-end;
  }

  /*did-you-know*/

  .did-you-know .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
  }
  .did-you-know .card-container {
    position: relative;
    margin-top: 0rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .did-you-know .banner {
    position: absolute;
    transform: translate(0);
    width: 60%;
    left: 1.2rem;
    background: #354463;
    padding: 0.5rem 1.5rem;
    color: #e0e2e7;
    font-size: 0.82rem;
  }
  .did-you-know .card {
    background: #ffffff;
    padding: 2rem 1.2rem;
    text-align: start;
    display: flex;
    gap: 0.3rem;
  }

  .did-you-know .card-heading {
    font-size: 1.8rem;
  }
  .did-you-know .card-content {
    font-size: 0.9rem;
  }

  .did-you-know .card-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    padding: 1rem 0;
  }

  /*stories*/

  .stories .img-container {
    width: 90%;
    height: 25rem;
    z-index: -1;
  }

  .stories .heading img {
    z-index: -1;
  }

  .stories .details {
    margin: 0;
    margin-left: 10%;
    margin-top: -10%;
    z-index: 99;
    position: relative;
  }
  .stories .button-container {
    margin-left: 10%;
    display: flex;
    justify-content: start;
  }

  .stories .heading {
    position: absolute;
    left: 20%;
    top: -2.5%;
    display: inline;
  }

  /*event*/

  .event .item {
    display: flex;
    gap: 3rem;
  }

  .event .image-container {
    height: 15rem;
    width: 100rem;
    background: yellow;
  }

  .event .content {
    margin-top: 0rem;
    text-align: start;
  }
  .event .para {
    text-align: start;
    margin: 1rem 0;
  }

  .event .topic {
    position: relative;
    left: 0;
    transform: translate(0%);
    width: 10rem;
    background: #ffffff;
    margin-top: 0.4rem;
  }

  /*subscribe*/

  .subscribe .container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    text-align: start;
  }

  .subscribe .email {
    margin: 0;
    margin-top: 2rem;
  }

  .subscribe .button-container {
    align-self: flex-end;
  }

  /*footer*/

  .footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "heading contact follow"
      "e learn em";
  }

  .footer .learnmore {
    grid-area: learn;
  }

  .footer .banner {
    grid-area: em;
    text-align: start;
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
  }
}
